{
    "extends": [
        "wesbos/typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-console": 1,
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 100,
                "tabWidth": 4
            }
        ]
    }
}